[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/madhuvutapla
[access "refs/for/refs/*"]
	read = group user/madhuvutapla
	push = group user/madhuvutapla
	label-Code-Review = -2..+2 group user/madhuvutapla
	label-Verified = -1..+1 group user/madhuvutapla
	rebase = group user/madhuvutapla
	removeReviewer = group user/madhuvutapla
	submit = group user/madhuvutapla
[access "refs/heads/*"]
	read = group user/madhuvutapla
	create = group user/madhuvutapla
	push = +force group user/madhuvutapla
	pushMerge = group user/madhuvutapla
[access "refs/tags/*"]
	push = +force group user/madhuvutapla
	pushTag = group user/madhuvutapla
	pushSignedTag = group user/madhuvutapla
